@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInButtom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInButtom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#42a5f5), to(#0d47a1));
  background-image: linear-gradient(to right, #42a5f5, #0d47a1);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(10deg) scale(1.1);
          transform: skewY(2deg) skewX(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.3rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .30;
  overflow: hidden;
}

.bg-video_content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
  background-color: #ffffff;
  color: #777;
}

.btn-white::after {
  background-color: #ffffff;
}

.btn--blue {
  background-color: #1976d2;
  color: #ffffff;
}

.btn--blue::after {
  background-color: #ffffff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-animated {
  -webkit-animation: moveInButtom .5s ease-out;
          animation: moveInButtom .5s ease-out;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.3rem;
  color: #1976d2;
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid #1976d2;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #1976d2;
  color: #ffffff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card_side {
  height: 50rem;
  -webkit-transition: all .8s;
  transition: all .8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card_side--front {
  background-color: #ffffff;
}

.card_side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card_side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8bc34a), to(#558b2f));
  background-image: linear-gradient(to right bottom, #8bc34a, #558b2f);
}

.card_side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#42a5f5), to(#0d47a1));
  background-image: linear-gradient(to right bottom, #42a5f5, #0d47a1);
}

.card:hover .card_side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card_side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card_picture {
  background-size: cover;
  height: 25rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
}

.card_picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../images/kindergarten.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/kindergarten.jpg);
}

.card_picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#8bc34a), to(#558b2f)), url(../images/primary.jpg);
  background-image: linear-gradient(to right bottom, #8bc34a, #558b2f), url(../images/primary.jpg);
}

.card_picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#42a5f5), to(#0d47a1)), url(../images/secondary.jpg);
  background-image: linear-gradient(to right bottom, #42a5f5, #0d47a1), url(../images/secondary.jpg);
}

.card_heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 80%;
}

.card_heading-span {
  padding: 1rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card_heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card_heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(139, 195, 74, 0.8)), to(rgba(85, 139, 47, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(139, 195, 74, 0.8), rgba(85, 139, 47, 0.8));
}

.card_heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(66, 165, 245, 0.8)), to(rgba(13, 71, 161, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(66, 165, 245, 0.8), rgba(13, 71, 161, 0.8));
}

.card_details {
  padding: 3rem;
}

.card_details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card_details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card_details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card_cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card_price-box {
  text-align: center;
  color: #ffffff;
  margin-bottom: 8rem;
}

.card_price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card_price-value {
  font-size: 6rem;
  font-weight: 100;
}

.composition {
  position: relative;
}

.composition_photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.composition_photo--p1 {
  left: 0;
  top: -2rem;
}

.composition_photo--p2 {
  right: 0;
  top: 2rem;
}

.composition_photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition_photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box_icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#42a5f5), to(#0d47a1));
  background-image: linear-gradient(to right, #42a5f5, #0d47a1);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1);
          transform: translateY(-1.5rem) scale(1);
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 6rem;
  padding-left: 9rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story_shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
}

.story_image {
  height: 100%;
  -webkit-transform: translateX(-4rem);
          transform: translateX(-4rem);
}

.story_text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.story:hover .story_caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(66, 165, 245, 0.8)), to(rgba(13, 71, 161, 0.8))), url(../images/landingimage.jpg);
  background-image: linear-gradient(rgba(66, 165, 245, 0.8), rgba(13, 71, 161, 0.8)), url(../images/landingimage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.icon-basic-book-pen {
  font-size: 7rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#42a5f5), to(#0d47a1));
  background-image: linear-gradient(to right, #42a5f5, #0d47a1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: #ffffff;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f5f5f5;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(66, 165, 245, 0.8)), to(rgba(13, 71, 161, 0.8))), url(../images/secondlanding.jpg);
  background-image: linear-gradient(to right bottom, rgba(66, 165, 245, 0.8), rgba(13, 71, 161, 0.8)), url(../images/secondlanding.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -10rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f5f5f5;
  padding: 23rem 0 12rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
/*# sourceMappingURL=main.css.map */